/* typhography and images */
* {
  font-family: 'Source Sans Pro', sans-serif;
}
.log-o {
  max-width: 180px;
}
.c-h-mid p {
  font-size: 14px;
  font-weight: 600;
  color: white;
  line-height: 35px;
  margin-left: 25px;
  margin-bottom: 0;
}
.c-h-down p {
  font-size: 14px;
  font-weight: 600;
  color: #4b4164;
  line-height: 35px;
  margin-left: 10px;
  margin-bottom: 0;
}
#last-recipes {
  padding-left: 20px;
  padding-right: 8px;
  margin-bottom: 10px;
  background: url('https://www.giallozafferano.it/style/images/secnav-icons.png') 0 -203px no-repeat;
}
#last-recipes:hover {
  background: url('https://www.giallozafferano.it/style/images/secnav-icons.png') 0 -3px no-repeat;
}
.cdown-nav {
    padding-left: 20px;
    padding-right: 8px;
    margin-bottom: 10px;
    background: url('https://www.giallozafferano.it/style/images/ic-secnav-gen.png') 0 -3px no-repeat;
}
.cdown-nav:hover {
  background: url('https://www.giallozafferano.it/style/images/ic-secnav-gen.png') 0 -33px no-repeat;
}
.c-h-mid p:hover {
  color: #d7ccee;
}
.c-h-mid .fa-home  {
  line-height: 35px;
  color: #d7ccee;
}
.c-h-mid .fa-book-open {
  line-height: 35px;
  color: #ff9713;
  margin-left: 30px;
}
#edicola {
  margin-left: 5px;
}
#tv-yellow {
  color: #ff9713;
}
.foto-sx {
  padding-right: 1px;
  padding-left: 1px;
  position: relative;
}
.foto-sx:hover {
  opacity: .5;
}
.foto-dx:hover {
  opacity: .5;
}
.foto-dx {
  padding-left: 1px;
  padding-right: 1px;
  position: relative;
}
.fot-dx {
  max-height: 99.7%;
}
.titl-foto {
  position: absolute;
  left: 10px;
  bottom: 20px;
}
.titl-foto p {
  color: #f8ddb8;
  font: 35px 'Cookie';
  margin-left: 20px;
}
.titl-foto h3 {
  color: white;
  font-size: 30px;
  margin-left: 20px;
  font-weight: 700;
  font-family: 'Roboto Slab';
}
.block {
  margin-top: 50px;
}
.block-second {
  margin-top: 5px;
}
.block h3 {
  margin: 20px 30px 15px;
  font: 30px/34px 'Cookie';
  color: #a295b5;
  text-align: center;
  width: 100%;
  position: relative;
}
.block h3::before, .block h3::after {
  content: attr(data-title);
  display: inline-block;
  margin: 0 2%;
  height: 20px;
  width: 35%;
  padding: 0 0;
  text-align: center;
  font: 30px/34px 'Cookie';
  color: #a295b5;
  background: #FFF;
  background: url('https://www.giallozafferano.it/style/images/bg-h3-sez.png') 0 0 repeat-x;
}
.block-third h3::before, .block-third h3::after {
  width: 30%;
}
.pics-r img {
    display: block;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    margin: auto;
}
.chef-text p {
  text-align: center;
  margin: 0 auto;
  width: 145px;
  height: 35px;
  font: 600 35px 'Amatic SC';
  color: #3d3356;
}
.chef-text .chiaro {
  color: #a295b5;
}
.elenco p,.elenco h3 {
  font: 500 'Roboto Slab';
}

/* div and containers */

.fl-l {
  float: left;
}
.fl-r {
  float: right;
}
.h-top {
  background: #fafaf6;
  height: 50px;
}
.h-mid {
  background: #7b6aa3;
  height: 35px;
}
.h-down {
  background: white;
  height: 35px;
}
.c-central {
  height: 2000px;
  background: white;
}
.cont-central {
  background: #f6f2f9;
  width: 100%;
  height: 2000px;
  padding: 20px 150px 0 150px;
}
.c-footer {
  height: 180px;
  background: grey;
  border-top: 6px solid #7d6aa3;
}
.resear-ch {
  margin-top: 10px;
  border-right: 1px solid lightgrey;
  padding-right: 3%;
  position: relative;
}
.resear-ch input {
  color: #54437e;
  border-radius: 3px;
  border: 1px solid lightgrey;
  padding-left: 5px;
  height: 35px;
  width: 300px;
}
.social-s {
  height: 35px;
  margin-top: 10px;
  padding-left: 3%;
  padding-right: 3%;
  border-right: 1px solid lightgrey;
}
.log-in{
  width: 50px;
  height: 25px;
  margin-top: 10px;
  background: url('https://www.giallozafferano.it/style/images/header-user.png')
}
.lente {
  position: absolute;
  bottom: 5px;
  right: 45px;
}
.c-h-top {
  padding: 0 50px 0 50px;
  height: 50px;
}
.c-h-mid {
  padding: 0 50px 0 50px;
  height: 35px;
}
.c-h-down {
  padding: 0 50px 0 50px;
  height: 35px;
}
.reg-ist {
  color: white;
  background: #ff9713;
  border: 1px solid #ff9713;
  height: 25px;
  margin-left: 30px;
  font-size: 14px;
  font-weight: 600;
  margin-top: 6px;
  line-height: 13px;
}
.round-pic-container {
  padding: 0 50px;
  height: 300px;
  margin-top: 50px;
}
.pics-r {
  height: 100px;
  width: 16%;
  margin: 0 auto;
}
.main-sx {
  width: 50px;
  height: 600px;
  /* background: blue; */
}
.main-dx {
  width: 50px;
  height: 250px;
}
/* media query */
@media (max-width: 1100px) {
  .c-h-top, .c-h-mid, .c-h-down {
    padding: 0;
  }
  .reg-ist {
    width: 80px;
    margin-left: 40px;
    font-size: 10px;
  }
  .c-h-mid p {
    font-size: 12px;
    margin-left: 30px;
  }
  .cont-central {
    padding: 20px 0 0 0;
  }
}
@media (max-width: 1000px) {
  .bau {
    display: none;
  }
  .block h3::before, .block h3::after {
    width: 32%;
  }
}
@media (max-width: 960px) {
  .bauu {
    display: none;
  }
  .block h3::before, .block h3::after {
    width: 30%;
  }
}
@media (max-width: 720px) {
  .bauuu {
    display: none;
  }
}
@media (max-width: 540px) {
  .bauuuu {
    display: none;
  }
}
@media (max-width: 576px) {

}
